body{
	padding: 0px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

#header{
	height: 70px;
}

.flex-container{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#info{
	flex-grow: 2;
	color: #14213D;
	margin-left: 100px;
	font-family: Arial, Helvetica, sans-serif;
}

#name{
	color: #ffffff;
	font-size: 35px;
	font-weight: normal;
}

#selected{
	color: #fca311;
}

@media (min-width: 800px) { 
	a{
		font-size: 16px;
	}
}

@media (max-width: 800px) { 
	a{
		font-size: 10px;
	}
}

a{
	color: #000000;
	margin: 10px;
	text-decoration: none;
	font-weight: bold;
}

a:hover{
	color: #ffffff;
}