body{
	background-color: #202020;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#game{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
}

#canvas{
	background-color: #202020;
}

#buttons{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 5px;
}

#volume{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	width: 25px; /* Set a specific slider handle width */
	height: 25px; /* Slider handle height */
	background: #04AA6D; /* Green background */
	cursor: pointer; /* Cursor on hover */
}
  
.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background-image: url(block.png);
	cursor: pointer;
	border-color: #202020;
	border-radius: 0px;
}

#buttons button{
	width: 100px;
	margin-left: 20px;
	margin-bottom: 10px;
	margin-top: 5px;
	padding: 10px;
	border: none;
	background-color: #bbbbbb;
	color: black;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 4px;
}

#buttons button:hover{
	background-color: #8080bb;
	color: black;
}

label{
	color: #ffffff;
	margin: 5px;
}

img{
	width: 300px;
	border: black solid 2px;
	margin: 10px;
}