body{
	background-color: #202020;
	min-height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#container{
	display: flex;
	justify-content: center;
}

#upcoming{
	height: 200px;
	margin-top: 30px;
	border: #00000050 solid 5px;
	background-color: #505050;
}

#game{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	margin-right: 50px;
	margin-left: 50px;
}

#status{
	width: 180px;
	margin-top: 50px;
	font-size: 20px;
}

#score-container{
	display: flex;
	border: #70dfdf outset  5px;
	background-color: #70dfdf;
	color: #202020;
}

#canvas{
	background-color: #202020;
}

#buttons{
	width: 80%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 10px;
}

#volume{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	width: 25px; /* Set a specific slider handle width */
	height: 25px; /* Slider handle height */
	background-image: url(assets/block.png);
	cursor: pointer; /* Cursor on hover */
}
  
.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background-image: url(assets/block.png);
	cursor: pointer;
	border-color: #202020;
	border-radius: 0px;
}

#buttons button{
	display: flex;
	justify-content: center;
	width: 100px;
	border: none;
	color: black;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 4px;
	cursor: pointer;
}

label{
	margin: 5px;
}

img{
	width: 50px;
}

#play{
	background-color: #20df20;
}

#play:hover{
	background-color: #208020;
}

#pause{
	background-color: #efaf20;
}

#pause:hover{
	background-color: #af6f20;
}

#restart{
	background-color: #70dfdf;
}

#restart:hover{
	background-color: #409f9f;
}