body{
	background-color: #e5e5e5;
}

#content{
	float: right;
}

#controls{
	width: 260px;
	margin: 10px;
	float: left;
}

button{
	width: 100px;
	margin: 10px 10px 10px 50px;
	padding: 7px;
	border: none;
	border-radius: 2px;
}

#run{
	background-color: #14213d;
	color: #ffffff;
}

#run:hover{
	background-color: #40506d;
}

#stop{
	background-color: #40506d;
	color: #ffffff;
}

#start:hover{
	background-color: #40506d;
}

#stop:hover{
	background-color: #14213d;
}

label{
	display: block;
	margin-left: 30px;
}

input{
	margin: 15px;
	padding: 5px;
	background-color: #e5e5e5;
}

input:hover{
	background-color: #f0f0f0;
}

input:focus{
	background-color: #f0f0f0;
}